body,
html {
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
  padding: 0 32px;
  margin: 32px 0 0 0;
}

@media (max-width: 768px) {
  body,
  html {
    padding: 0;
    margin: 0;
  }
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f4f4f4;
}
